<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <title>PhotoCRUD</title>

    <base href="/">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://rawgit.com/Alisa007/PhotoCRUD/master/assets/css/main.css">
</head>

<body>


<div class="container" ng-controller="PhotoController">
    <div class="row m-t-3">
        <div class="col-xs-12">
            <progress class="progress"
                      ng-class="{'invisible' : !photo.progress && !form.submitted, 'progress-success' : photo.progress == 100}"
                      value="{{ photo.progress }}"
                      max="100">{{ photo.progress }}
            </progress>

            <div class="card">
                <div class="media">
                    <div class="media-left media-middle">
                        <div class="media-object media-box text-xs-center"
                             type="file"
                             ngf-drop
                             ngf-select
                             ng-model="file"
                             ngf-accept="'image/*'"

                             ngf-multiple="false"
                             ngf-allow-dir="false"

                             ng-class="fileValidation">

                            <div class="m-t-1 m-x-2">
                                <i class="fa fa-file-image-o fa-3x"
                                   ng-if="fileValidation == ''"></i>
                                <i class="fa fa-times fa-3x"
                                   ng-if="fileValidation == 'media-box-danger'"></i>
                                <i class="fa fa-check fa-3x"
                                   ng-if="fileValidation == 'media-box-success'"></i>
                            </div>

                            <small>Drag & drop</small>

                        </div>
                    </div>
                    <div class="media-body media-middle" style="width: 100%;">

                        <div
                                ng-class="{'has-success': photo.name, 'has-danger': !photo.name && form.submitted}">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Image name"
                                   ng-model="photo.name">
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <button type="button"
                                class="m-r-1 btn btn-primary"
                                ng-click="upload(photo, file)">
                            <i class="fa fa-upload"> Upload</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card"
                 ng-repeat="photo in photos">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object media-img"
                             ng-src="{{ photo.url }}" alt="{{ photo.name }}">
                    </div>
                    <div class="media-body media-middle">
                        <div ng-if="!photo.editable">
                            <h3 class="media-heading">{{ photo.name }}</h3>
                            <p>
                                {{ photo.createdAt | date: 'shortTime' }} on
                                {{ photo.createdAt | date: 'longDate' }},
                                {{ photo.format }}
                            </p>
                        </div>

                        <input type="text"
                               class="form-control"
                               placeholder="Image name"
                               ng-model="newPhoto.name"
                               ng-if="photo.editable">
                    </div>

                    <div class="media-right media-middle"
                         ng-if="!photo.editable">
                        <button type="button"
                                class="btn btn-primary-outline media-object"
                                ng-click="edit(photo, $index)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>

                    <div class="media-right media-middle"
                         ng-if="!photo.editable">
                        <button type="button"
                                class="m-r-1 btn btn-danger-outline media-object"
                                ng-click="delete(photo, $index)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>

                    <div class="media-right media-middle"
                         ng-if="photo.editable">
                        <button type="button"
                                class="m-r-1 btn btn-primary-outline media-object"
                                ng-click="update(photo, newPhoto, $index)">
                            <i class="fa fa-pencil"> Update</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
<script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-touch.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/5.0.9/ng-file-upload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/5.0.9/ng-file-upload-shim.min.js"></script>
<script src="https://rawgit.com/Alisa007/PhotoCRUD/master/assets/js/app.js"></script>

</body>
</html>
